:host ::ng-deep .ant-layout-header,
:host ::ng-deep .ant-layout-footer {
  background: #001529;
  color: #fff;
}

:host ::ng-deep .ant-layout-footer h2,
h3 {
  color: #fff;
  font-size: 1.1em;
}

:host::ng-deep .ant-layout {
  min-height: 100%;
}

.logo {
  width: 70px;
  height: 60px;
  margin: 2px;
  float: left;
  background-image: url('../assets/img/logotp.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  max-height: 100%;
}

:host main {
  padding: 20px 50px;
}
