<nz-layout>
  <nz-header>
    <!-- <div class="logo"></div> -->
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <!-- <li nz-menu-item>
        <a routerLink="/trang-chu" routerLinkActive="ant-menu-item-selected">Trang chủ</a>
      </li> -->
      <!-- <li nz-menu-item>
          <a routerLink="/dang-ky-tham-gia" routerLinkActive="ant-menu-item-selected">Đăng ký tham gia</a>
        </li> -->
      <li nz-menu-item routerLinkActive="ant-menu-item-selected">
        <a routerLink="/thi-truc-tuyen">Thi trực tuyến</a>
      </li>
      <!-- <li nz-menu-item routerLinkActive="ant-menu-item-selected">
        <a routerLink="/ket-qua" >Kết quả cuộc thi</a>
      </li> -->
    </ul>


  </nz-header>
  <nz-content>
    <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle" style="text-align: center;background-color: #0984e3; padding: 10px 0;">
      <div nz-col nzSpan="24">
        <img src="./assets/img/bannerdoan.png" class="img-banner" alt="" srcset="">
      </div>
    </div>

    <main>
      <router-outlet></router-outlet>
    </main>

  </nz-content>
  <nz-footer>
    <div style="text-align: center; color: #fff;">
      <h2>Đoàn thanh niên cộng sản Hồ Chí Minh</h2>
      <h3>Hội thi cán bộ Đoàn ứng dụng CNTT giỏi tỉnh Đồng Nai lần thứ VI - 2018</h3>
      <span style="color: #0984e3;">Thiết kế bởi Trường Đại học Lạc Hồng</span>
      <br/>
      <span style="color: #0984e3;">Email: hongthai@lhu.edu.vn</span>
    </div>
  </nz-footer>
</nz-layout>
