<div nz-row nzType="flex" nzJustify="space-around" nzAlign="center">
  <div nz-col nzMd="24" nzLg="6" >
    <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="anticon anticon-user">
            <input type="text" nz-input formControlName="email" placeholder="email">
          </nz-input-group>
          <nz-form-explain *ngIf="loginForm.get('email').dirty && loginForm.get('email').errors">Nhập email của bạn!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="anticon anticon-lock">
            <input type="password" nz-input formControlName="password" placeholder="Mã đăng nhập">
          </nz-input-group>
          <nz-form-explain *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors">Nhập mã đăng nhập!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <!-- <label nz-checkbox formControlName="remember">
            <span>Remember me</span>
          </label>
          <a class="login-form-forgot" class="login-form-forgot">Forgot password</a> -->
          <button nz-button class="login-form-button" [nzType]="'primary'" [nzLoading]="isSubmitting">Đăng nhập</button>
          <!-- Or
          <a href="">register now!</a> -->
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
