<nz-affix>
  <div nzType="flex" nzJustify="start" style="padding: 20px 0;">

    <button nz-button nzType="{{ques.answered>0?'primary':'dashed'}}" nzSize="large" *ngFor="let ques of data" pageScroll href="#q_{{ques.id}}"
      [pageScrollSpeed]="5000">
      {{ques.number
      <10? '0'+ques.number:ques.number }} </button>
  </div>
  <div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle" style="padding: 20px 0;">

    <nz-progress [nzPercent]="phanTramHoanThanh()" nzType="dashboard"></nz-progress>




  </div>
</nz-affix>
